<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load static %}
    <style>


<!--body {-->
<!--  display: flex;-->
<!--&lt;!&ndash;  justify-content: center;&ndash;&gt;-->
<!--  align-items: center;-->
<!--  min-height: 100vh;-->
<!--   background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);-->
<!--  overflow: hidden;-->
<!--}-->


    </style>
</head>
<body style="background: white">

<h1 style="color:black;text-decoration: underline;">Leveraging Transformer Model for Feature Extraction and Random forest for Classification in IDS</h1>
<a style="float: right; font-size: 30px;color:black;" href="/login">Login </a>


<br/>
<br>

<hr>
<div style=" text-align: center;" >

    <img style="height: 550px; width: 75%;" src="{% static 'images/coverpage.png' %}" alt="First slide" >
</div>
</body>
</html>